{
    "jsc": {
      "parser": {
        "syntax": "ecmascript",
        "dynamicImport": true,
        "privateMethod": true,
        "classProperty": true,
        "exportNamespaceFrom": true,
        "decorators": true
      },
      "minify": {
        "compress": {
          "global_defs": {
            "process.env.NODE_ENV": "production"
          }
        }
      },
      "target": "es2022"
    }
  }
  